<div class="conteudo"><br>
    <a name="empregos"><center><h2>Formações Profissionais</h2></center></a>
    <div class="inforEmprego">
        <strong>Empresa: </strong>Encantar TI<br>
        <strong>Cargo: </strong>DevOps<br>
        <strong>Data Entrada:</strong> 12/10/2019<br>
        <strong>Data Saída:</strong> Emprego Atual<br>
        <strong>Descrição: </strong>Garantir a segurança, a disponibilidade, a escalabilidade e a confiabilidade
        da infraestrutura dos nossos produtos Otimizar o uso dos recursos da infraestrutura. Automatizar
        o ciclo de vida do aplicativo. Monitorar os diferentes serviços. Implementar soluções de
        controle de qualidade e de performance.<br><br>

        <strong>Empresa: </strong>TI'rizontes<br>
        <strong>Cargo: </strong>Desenvolvedor<br>
        <strong>Data Entrada:</strong> 22/06/2017<br>
        <strong>Data Saída:</strong> 04/05/2019<br>
        <strong>Descrição: </strong>Realizar serviços de manutenção de site de intranet apresentando indicadores
        de manutenção baseado em dados do SAP ou software equivalente, utilizando bancos de dados e
        planilhas eletrônicas. Realizar serviços de geração e automação de relatórios para gestão dos
        processos de rotina de intervenção e controle.<br><br>

        <strong>Empresa: </strong>TI-tando<br>
        <strong>Cargo: </strong>Desenvolvedor<br>
        <strong>Data Entrada:</strong> 07/01/2011<br>
        <strong>Data Saída:</strong> 07/09/2016<br>
        <strong>Descrição: </strong>Realizar serviços de manutenção de site de intranet apresentando indicadores
        de manutenção baseado em dados do SAP ou software equivalente, utilizando bancos de dados e
        planilhas eletrônicas. Realizar serviços de geração e automação de relatórios para gestão dos
        processos de rotina de intervenção e controle.<br>
    </div>
</div>