<div class="conteudo"><br>
    <a name="formacao"><center><h2>Formações Acadêmicas</h2></center></a>
    <div class="inforAcademica">
        <strong>Escola: </strong>Emge - Escola de Engenharia<br>
        <strong>Curso: </strong>Ciência da Computação<br>
        <strong>Graduação: </strong>Bacharelado<br>
        <strong>Data Inicio:</strong> 16/02/2019<br>
        <strong>Previsão de Termino:</strong> 30/12/2023<br><br>

        <strong>Escola: </strong>Maria Do Socorro Andrade<br>
        <strong>Curso: </strong>Ciência da Computação<br>
        <strong>Graduação: </strong>Ensino Médio<br>
        <strong>Data Inicio:</strong> 16/02/2019<br>
        <strong>Previsão de Termino:</strong> 30/12/2023<br>
    </div>
</div>