<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link href="static/css/styles.css" rel="stylesheet">
</head>
<body>
    <img style="width: 35%; margin-right: 20px" src="./static/assets/img/logo-EMGE.png" align="right"><br><br><br><br>
    <div>
        {% include 'barra_navegacao.html' %}
        {% include 'informacoesPessoais.html' %}
        {% include 'formacoes.html' %}
        {% include 'empregos.html' %}
    </div>
</body>
</html>