<div class="conteudo"><br>
    <a name="infos_pessoais"><center><h2>Informações Pessoais</h2></center></a>
    <div class="inforPessoal">
        <img src="../static/assets/img/perfil.jpg">
        <div>
            <br>
            <strong>Nome: </strong>Edson Francisco Galvão<br>
            <strong>Endereço: </strong>Rua Quadra 1206 Sul Alameda 19 - n: 508<br>
            <strong>Bairro: </strong>Plano Diretor Sul<br>
            <strong>Cidade: </strong>Palmas<br>
            <strong>Telefone: </strong>(63) 3575-9455<br>
            <strong>Data Nascimento: </strong>01/03/1996<br>
            <strong>E-mail: </strong>edsonfranciscogalvao_@ftcomercial.com.br<br><br><br>
        </div>
    </div>
</div>